/* Styling the form container */
form.filter-form[b-tg5po7urw9] {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-bottom: 2rem;
  align-items: center;
}

/* Styling for select and input elements */
form.filter-form select[b-tg5po7urw9],
form.filter-form input[type="text"][b-tg5po7urw9],
form.filter-form input[type="submit"][b-tg5po7urw9] {
  padding: .5rem;
  font-size: 1rem;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

/* Styling for the submit button */
form.filter-form input[type="submit"][b-tg5po7urw9] {
  background-color: #1b6ec2;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form.filter-form input[type="submit"]:hover[b-tg5po7urw9] {
  background-color: #155a9c;
}